body {
	background-image: url("pirate-drinks.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.start {
	text-align: center;
}

.start h1, .questions form ul, .drink {
	text-align: center;
	background-color: #fff;
	width: 800px;
	margin: 20px auto;
	opacity: .4;
	border-radius: 5px;
	letter-spacing: 1px; 
}

.start h1 {
	font-size: 2.5em;
	padding: 10px;
}

.questions form ul {
	padding: 30px;
	font-size: 2em;
} 

.drink {
	padding: 20px;
	line-height: 40px;
}
.drink h1 {
	font-size: 2.5em;
}

.questions form ul > li {
	list-style: none;
	margin: 20px;
}

.flaticon-death {
	color: #fff;
}

.flaticon-death:hover {
	cursor: pointer;
	color: #820707;
}

.drink {
	color: #820707;
	opacity: .5;
}

#pirate-happy, #pirate-sad {
	margin-right: 20px;
}

label[for="submit"] {
	margin: 47%;
}

